<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ngawadang Apps</title>
  </head>
  <body>
    <!-- skip to content -->
    <a href="#main-content" class="skip-to-content">Skip to content</a>
    <app-bar></app-bar>
    <main id="main-content">
      <hero-app></hero-app>
      <list-restaurant></list-restaurant>
      <news-list-restaurant></news-list-restaurant>
    </main>
  </body>
  <footer-app></footer-app>
</html>
