.skip-to-content {
  width: 100%;
  position: absolute;
  top: -100px;
  display: block;
  text-align: center;
  background-color: #fb6218;
  color: white;
  padding: 10px;
  text-decoration: none;
  outline: none;
}

.skip-to-content:focus {
  position: relative;
  top: 0;
}
