.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: #082721;
  color: white;
  text-align: center;
}

p {
  text-align: center;
  color: white;
  font-size: 0.9rem;
}
